html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= player.firstname + " " + player.lastname
        link(rel='stylesheet', href='/stylesheets/home.css')
        script(src='/javascripts/navbar.js' defer)
    body
        header
            include navbar.pug
        
        img(src=player.team.logo, alt=player.team.name, width="50px")

        h1= player.firstname + " " + player.lastname
        h2= "Year: " + player.year
        h2= "Position: " + player.pos
        h2= "Team: " + player.team.name + " (" + player.team.code + ")"
        h2= "Games Played: " + player.gamesplayed
        br
        h2= "Peformance Stats:"
        br
        br
        div(style="text-align: center; margin-left: 20px;")
            h2= "Plus Minus (Average): " + player.stats.plusMinus.toFixed(3)
        br
        br
        div(class="performance-tables") 
            div(class="stats-table" id="scoring-table")
                table(style='width:auto', border='1')
                    tr
                        th#top Scoring
                        th 
                    tr  
                        th Points per Game
                        td #{player.stats.points.toFixed(3)}

                    tr
                        th Field Goals Made per Game
                        td #{player.stats.fgm .toFixed(3)}
                    tr
                        th Field Goals Attempted per Game
                        td #{player.stats.fga.toFixed(3)}
                    tr 
                        th Field Goal Percentage
                        td #{player.stats.fgp.toFixed(3)}
                    tr
                        th Free Throws Made per Game
                        td #{player.stats.ftm.toFixed(3)}
                    tr
                        th Free Throw Percentage
                        td #{player.stats.ftp.toFixed(3)}
                    tr
                        th Free Throws Attempted per Game
                        td #{player.stats.fta.toFixed(3)}
                    tr
                        th 3-Pointers Made per Game
                        td #{player.stats.tpm.toFixed(3)}
                    tr
                        th 3-Point Percentage
                        td #{player.stats.tpp.toFixed(3)}
                    tr
                        th 3-Pointers Attempted per Game
                        td #{player.stats.tpa.toFixed(3)}
            
            div(class="stats-table" id="rebounding-table")
                table(style='width:auto', border='1')
                    tr
                        th#top Defence and Rebounding
                        th 
                    tr  
                        th Total Rebounds per Game
                        td #{player.stats.totReb.toFixed(3)}

                    tr
                        th Offensive Rebounds per Game
                        td #{player.stats.offReb .toFixed(3)}
                    tr
                        th Defensive Rebounds per Game
                        td #{player.stats.defReb.toFixed(3)}
                    tr
                        th Steals per Game
                        td #{player.stats.steals.toFixed(3)}
                    tr 
                        th Blocks per Game
                        td #{player.stats.blocks.toFixed(3)}
                    

            div(class="stats-table" id="passing-table")
                table(style='width:auto', border='1')
                    tr
                        th#top Passing
                        th 
                    tr  
                        th Assists per Game
                        td #{player.stats.assists.toFixed(3)}

                    tr
                        th Turnovers per Game
                        td #{player.stats.turnovers.toFixed(3)}
                    tr
 
 




    